<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>字符快捷操作</title>
	<script src="../../static/vue.js"></script>
	<style type="text/css">
		body{
			padding: 0;
			margin: 0;
			overflow-y: hidden;
		}
		#app{
			height:100%;width:100%;position:absolute;
		}
		textarea{
			width:100%;
			height:100%;
		}

		
		table{
			height: 99%;
			width: 99%;
		}

		td{
			padding:5px;

		}
		

	</style>
</head>
<body >
	<div id='app' style="">
		<table >
			
			<tr>
				<td colspan="2" style="height:10%">
					<textarea  v-model="sTmp" placeholder="模板"></textarea>
				</td>
			</tr>
			<tr>
				<td style="height:85%;width:35%">
					<textarea v-model="sList" placeholder="数据"></textarea>
				</td>
				<td>
					<textarea v-model="sVal" placeholder="结果"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="height:5%"><textarea  v-model="sCode"></textarea></td>
			</tr>

		</table>
		
	</div>
</body>
<script type="text/javascript">
	
	let app = new Vue({		
	  el: '#app',

	  data: {
	  	sTmp:'',
	  	sList:'',
	  	//sVal:'',
	  	sCode:'空格{\t},>{&gt;},<{&lt;},换号{\n}'
	  },


	  computed:{
	  	sVal:function(){
	  		if(this.sTmp =='' ||  this.sList==''){
	  			return '';
	  		}
	  		let content = '';
	  		let slistAy = this.sList.split('\n');
	  		for(let oneline in slistAy){
	  		
	  			let simpleOne = slistAy[oneline].split('\t');
	  			
	  			let tmp  = this.sTmp;
	  			for (let i = simpleOne.length - 1; i >= 0; i--) {
	  				tmp = tmp.replace(new RegExp('\\{'+i+'\\}','g'),simpleOne[i]);
	  			}

	  			content = content + tmp + '\n';
	  		}
	  		return content;
	  	}
	  }
	 /* watch:{
		sTmp:function(){
			this.sTobe();
		},
		sList:function(){
			this.sTobe();
		}
	  },*/

	 /* methods:{
	  	sTobe:function(){
	  		//var a = this.sTmp.split(/{\d}/);

	  		if(this.sTmp =='' ||  this.sList==''){
	  			return;
	  		}
	  		let content = '';
	  		let slistAy = this.sList.split('\n');
	  		for(let oneline in slistAy){
	  		
	  			let simpleOne = slistAy[oneline].split('\t');
	  			
	  			let tmp  = this.sTmp;
	  			for (let i = simpleOne.length - 1; i >= 0; i--) {
	  				tmp = tmp.replace(new RegExp('\\{'+i+'\\}','g'),simpleOne[i]);
	  			}

	  			content = content + tmp + '\n';
	  		}
	  		this.sVal = content;
			//this.sVal = this.sTmp + this.sList;
	  	}
	  }*/

    });

</script>
</html>
