<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLBean</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js" ></script>
    <script type="text/javascript" src="../../static/remote.js" ></script>
    <script type="text/javascript" src="../../static/layui/layui.all.js" ></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"  media="all">
</head>
<body>
    <div class="layui-row"><div class="layui-col-xs6">

        <form class="layui-form layui-form-pane" action="" style="padding: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="uri" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">包名</label>
                <div class="layui-input-block">
                    <input type="text" name="uri" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">目录地址</label>
                <div class="layui-input-block">
                    <input id="srcDir" type="text" name="uri"lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">模板</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="seltpl" >
                        <option value="" selected="">请选择模板...</option>
                        <option value="simple">simple</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text layui-hide" >
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <button onclick="initObjectStr();return false;" class="layui-btn" >初始化</button>

                <button class="layui-btn" >表格信息</button>

                <button class="layui-btn"
                        onclick="generateFile();return false;" >全部生成</button>
            </div>
        </form>

    </div>

    <div class="layui-col-xs6">
        <table class="layui-hide" id="tables"></table>
    </div>

    </div>


    <div class="layui-row"></div>


    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title" id="tpltitle">
            <li class="layui-this">网站设置</li>
            <li>用户管理</li>
            <li>权限分配</li>
            <li>商品管理</li>
            <li>订单管理</li>
        </ul>
        <div class="layui-tab-content" style="min-height:100px;" id="tplcontent">
            <div class="layui-tab-item layui-show">内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
            <div class="layui-tab-item">内容5</div>
        </div>
    </div>


</body>

<script type="text/javascript">
    $.ajaxSetup({async : false});

    var initStr = `
    Object.metaClass.toPO={
            def target = delegate+"";
            target =("_"+target).toLowerCase();

            def tmp = "";
            def toUFlag= false;
            target.toList().each {
                if("_".equals(it)){
                    toUFlag=true;
                }else{
                    if(toUFlag){
                        tmp=tmp.concat(it.toUpperCase());
                    }else{
                        tmp=tmp.concat(it);
                    }
                    toUFlag=false;
                }

            }
            return tmp;
        }
        Object.metaClass.toEO={
            def target = delegate.toPO()+"";
            target= target[0].toLowerCase()+target[1..target.size()-1]
            return target;
        }

    `;
    function initObjectStr() {
        $.get(runUrl,{gstr:initStr}).done(function () {  layer.msg("初始化成功"); });
    }

    var selTplVal = {
        simple:[ 'Controller.java','Service.java','Tmm.java'],
        hb:['Vim','COASS'],
    }
    function selTplFuc(value){
        for(let i in  selTplVal[value]){
            $('#tpltitle').append(" <li>"+selTplVal[value][i]+"</li>");

            $.get(value+"/"+selTplVal[value][i]).done(function (data) {
                let tmp = $("<textarea style='height: 400px;width:100%;'></textarea>");
                tmp.val(data);
                let mk = $("<div class=\"layui-tab-item\"></div>");
                mk.append(tmp);
                $('#tplcontent').append(mk);
            })
        }
    }


    function generateFile(){


        var srcDirStr= `def srcDir = "\`+$('#srcDir').val()+\`";



            `;

        var generateStr =srcDirStr + `
       File filed =  new File("\${srcDir}");
       filed.mkdirs();
       File file =  new File("\${srcDir}\${File.separator}345.txt");
       file.createNewFile();
       com.CTX.result='OK';
        `
        generateStr=generateStr.replace("\\","\\\\");


        generateStr=`
        org.springframework.jdbc.core.JdbcTemplate jdbcTemplate = new org.springframework.jdbc.core.JdbcTemplate();

        org.springframework.jdbc.datasource.DriverManagerDataSource source = new org.springframework.jdbc.datasource.DriverManagerDataSource();
        source.setDriverClassName("com.mysql.jdbc.Driver");
        source.setUrl("jdbc:mysql://rm-bp1sjikw4ju86flv4.mysql.rds.aliyuncs.com:3306/activeplugin?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true");
        source.setUsername("junjie");
        source.setPassword("Junjie8866");
        jdbcTemplate.setDataSource(source);

        List<Map<String, Object>> list = jdbcTemplate.queryForList("select * from f_activity;");

        System.out.println("list:"+list);

        Map<String,Object> map = [:];
        def tableName="f_activity";
        map.put("tableName",tableName);

        String sql = "select * from information_schema.columns" +
                " where table_schema='activeplugin' and table_name = 'f_activity'";
        map.put("columns",jdbcTemplate.queryForList(sql));


        sql = "select * from information_schema.tables " +
                "where table_schema='activeplugin' and table_name='f_activity'";
        map.put("table",jdbcTemplate.queryForMap(sql));

        System.out.println("map:"+map);

        `;

        /*generateStr = ` org.springframework.jdbc.core.JdbcTemplate jdbcTemplate = new org.springframework.jdbc.core.JdbcTemplate();

          println(jdbcTemplate)
          `;*/
        $.get(runUrl,{gstr: generateStr},function(data){

            alert(data);

        });

    }

    layui.use(['form', 'layedit', 'laydate','table'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        var table = layui.table;

        table.render({
            elem: '#tables',
            height:'300px',
            url:'test.json',
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [[
                {field:'id', width:80, title: 'ID',minWidth: 100, sort: true},
                {field:'username', width:80, title: '用户名'}
            ]]
        });

        form.on('select(seltpl)', function(data){
            if(data.value == 'simple'){
                selTplFuc(data.value);
            }
        });
        form.render();
    });

</script>


</html>