<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLBean</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js" ></script>
    <script type="text/javascript" src="../../static/remote.js" ></script>
    <script type="text/javascript" src="../../static/layui/layui.all.js" ></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"  media="all">
</head>
<body>
    <div class="layui-row"><div class="layui-col-xs6">

        <div class="layui-form layui-form-pane" action="" style="padding: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="url"
                           value="jdbc:mysql://rm-bp1sjikw4ju86flv4.mysql.rds.aliyuncs.com:3306/activeplugin?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true"
                           autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" value="junjie" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" value="Junjie8866" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">tableSchema</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tableSchema" value="activeplugin" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">包名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="packageName" value="com.yuan" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">目录地址</label>
                <div class="layui-input-block">
                    <input id="srcDir" type="text" name="srcDir" value="D:\\appyuan" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">模板</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="seltpl" >
                        <option value="" selected="">请选择模板...</option>
                        <option value="simple">simple</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text layui-hide" >
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="remark" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" onclick="selTable();return false;" >表格信息</button>
                <button class="layui-btn"
                        onclick="generateFile();return false;" >全部生成</button>
            </div>
        </div>

    </div>

    <div class="layui-col-xs6">
        <table class="layui-hide" id="tables"></table>
    </div>

    </div>


    <div class="layui-row"></div>

    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title" id="tpltitle">
            <li class="layui-this">说明</li>

        </ul>
        <div class="layui-tab-content" style="min-height:100px;" id="tplcontent">
            <div class="layui-tab-item layui-show">编辑代码</div>

        </div>
    </div>


</body>

<script type="text/javascript">
    $.ajaxSetup({async : false});
    var table;

    var isInit=false;


    function initObjectStr() {

        if(!isInit){
            let objInfo = ';def sqlMap = [:];'
                +'sqlMap.url = "' + $('[name=url]').val()+ '";'
                +'sqlMap.username = "' + $('[name=username]').val()+ '";'
                +'sqlMap.password = "' + $('[name=password]').val()+ '";'
                +'sqlMap.packageName = "' + $('[name=packageName]').val()+ '";'
                +'sqlMap.packagePath = "' + $('[name=packageName]').val().replace(/\./g,'\\\\')+ '";'

                +'sqlMap.srcDir = "' + $('[name=srcDir]').val()+ '";'
                +'sqlMap.remark = "' + $('[name=remark]').val()+ '";'
                +'sqlMap.tableSchema = "' + $('[name=tableSchema]').val()+ '";'
                +'sqlMap.tableName = "f_activity"; ';

            let generateStr = getData("common/StringUtil.groovy")
                + objInfo +";com.CTX.param=sqlMap;"

            $.get(runUrl,{gstr: generateStr},function(data){
                isInit= true;
                console.log("初始执行成功");
            });
        }
    }

    function selTable() {
        initObjectStr();
        var tablesql =`
        def sqlMap = com.CTX.param;

        org.springframework.jdbc.core.JdbcTemplate jdbcTemplate = new org.springframework.jdbc.core.JdbcTemplate();
        org.springframework.jdbc.datasource.DriverManagerDataSource source = new org.springframework.jdbc.datasource.DriverManagerDataSource();
        source.setDriverClassName("com.mysql.jdbc.Driver");
        source.setUrl("\${sqlMap.url}");
        source.setUsername("\${sqlMap.username}");
        source.setPassword("\${sqlMap.password}");
        jdbcTemplate.setDataSource(source);

        def listMap = jdbcTemplate.queryForList(
        "select * from information_schema.tables " +
                "where table_schema='\${sqlMap.tableSchema}' ");
        println("listMap"+listMap);

        def result = [:];
        result.count = listMap.size();
        result.code=0;
        result.msg="OK";
        result.data = listMap;

        com.CTX.result=listMap;
        `;
        $.get(runUrl,{gstr: tablesql},function(data){
            //alert(JSON.stringify(data))
            table.render({
                elem: '#tables',
                height:'300px',
                data:data,
                cellMinWidth: 120, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                cols: [[
                    {field:'TABLE_NAME', width:220, title: 'TABLE_NAME',minWidth: 100, sort: true},
                    {field:'TABLE_COMMENT', title: 'TABLE_COMMENT'},
                    {field:'TABLE_NAME', width:180, title: '操作',templet:function(res){
                            return '<button class="layui-btn" onclick="generateTable(\''+res.TABLE_NAME+'\')" >生成</button>'
                        }
                    }
                ]]
            });
        });
    }

    function generateTable(tableName){

        if($('[name=contentTpl]').size()==0){
            alert("没有选择模板");
            return;
        }

        $('[name=contentTpl]').each(function(){

            let cVal = $(this).val();
            let title = $(this).attr('title');
            initObjectStr();
            var objInfo = ';def sqlMap = com.CTX.param;sqlMap.tableName = "'+tableName+'";';
            var generateStr = //getData("common/StringUtil.groovy")  + objInfo
                objInfo + getData("common/JdbcTemplate.groovy")
                + cVal
                + getData("common/mkfile.groovy");
            //console.log(generateStr)
            $.get(runUrl,{gstr: generateStr},function(data){
                console.log("生成："+tableName+":"+title);
            });

        })
        console.log("SUCCESS："+tableName);
    }

    function generateFile(tableName){
        if($('[name=contentTpl]').size()==0){
            alert("没有选择模板");
            return;
        }

        initObjectStr();

        var strListTable = `
        def sqlMap = com.CTX.param;

        org.springframework.jdbc.core.JdbcTemplate jdbcTemplate = new org.springframework.jdbc.core.JdbcTemplate();
        org.springframework.jdbc.datasource.DriverManagerDataSource source = new org.springframework.jdbc.datasource.DriverManagerDataSource();
        source.setDriverClassName("com.mysql.jdbc.Driver");
        source.setUrl("\${sqlMap.url}");
        source.setUsername("\${sqlMap.username}");
        source.setPassword("\${sqlMap.password}");
        jdbcTemplate.setDataSource(source);

        def listMap = jdbcTemplate.queryForList(
        "select * from information_schema.tables " +
                "where table_schema='\${sqlMap.tableSchema}' ");
          com.CTX.result = listMap;

        `;
        $.get(runUrl,{gstr: strListTable},function(data){

            $(data).each(function(){

                generateTable(this.TABLE_NAME);
            })
        });
    }


    var selTplVal = {
        simple:[ 'Controller.java','Service.java'],
        hb:['Vim','COASS'],
    }
    function selTplFuc(value){
        $('[name=titleTpl]').remove();
        $('[name=contentTplC]').remove();

        for(let i in  selTplVal[value]){
            $('#tpltitle').append(" <li name='titleTpl'>"+selTplVal[value][i]+"</li>");

            $.get(value+"/"+selTplVal[value][i]).done(function (data) {
                let tmp = $("<textarea style='height: 400px;width:100%;' name='contentTpl' title='"+selTplVal[value][i]+"' ></textarea>");
                tmp.val(data);
                let mk = $("<div class=\"layui-tab-item\" name='contentTplC' ></div>");
                mk.append(tmp);
                $('#tplcontent').append(mk);
            })
        }
    }
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        table = layui.table;

        table.render({
            elem: '#tables',
            height:'300px',
            url:'test.json',
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            cols: [[
                {field:'id', width:80, title: 'ID',minWidth: 100, sort: true},
                {field:'username', width:80, title: '用户名'}
            ]]
        });

        form.on('select(seltpl)', function(data){
            if(data.value == 'simple'){
                selTplFuc(data.value);
            }
        });
        form.render();
    });

</script>


</html>