<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<a target="_blank" href="http://tool.oschina.net/">web工具</a><br><br>
	<a target="_blank" href="http://tool.oschina.net/commons">HTTP Content-type,HTML转义字符,RGB颜色参考,ASCII对照表,HTTP状态码详解,运算符优先级,TCP/UDP常见端口参考,网页字体参考</a><br><br>
	<a target="_blank" href="http://tool.oschina.net/codeformat">DataFormat</a><br><br><br><br>


	<a target="_blank" href="https://github.com/">GITHUB</a><br><br>

	<a target="_blank" href="https://pan.baidu.com">百度网盘</a><br><br>
	
</body>
</html>