<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mysql</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js" ></script>
</head>
<body>
<p>ascii排序</p>
<textarea  style="width: 800px;height:40px;" >
	String[] objArray = obj.keySet().toArray(new String[0]);
		Arrays.sort(objArray);
</textarea>
<br/>

<p>JAVA时间格式话</p>
<textarea  style="width: 800px;height:40px;" >
	new java.text.SimpleDateFormat("yyyyMMddHHmmss").format(new Date())
</textarea>
<br/>
	
<p>POST请求</p>
<textarea style="width: 800px;height:40px;" >
	curl -H "Content-Type:application/json" -X POST --data '{"val:"123"}' http://url
</textarea>
<br/>

</body>
<script>

</script>
</html>
