<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLBean</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js" ></script>
    <script type="text/javascript" src="../../static/remote.js" ></script>
    <script type="text/javascript" src="../../static/layui/layui.all.js" ></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"  media="all">
</head>
<style type="text/css">
	.bvie{
		background: #1E90FF;
		min-width: 300px;
		min-height: 200px;
		width: 300px;
		text-align: center;
	}
	.bvie span{
		display:block;
		font-size: 30px;
		font-weight:bolder;
		color:#FFFFFF;
		padding:10 auto;
	}
</style>	
<body>
<div class="bvie">
	<span>lombok</span>
	
	java -jar D:/lombok.jar 选择 eclipse安装目录
	STS.ini 添加 -javaagent:D:\hbbranch\payCenter\sts-bundle\sts-3.9.4.RELEASE\lombok.jar

</div>
	
	
</body>
</html>
