<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLBean</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js" ></script>
    <script type="text/javascript" src="../../static/remote.js" ></script>
    <script type="text/javascript" src="../../static/layui/layui.all.js" ></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"  media="all">
</head>
<style type="text/css">
	.bvie{
		background: #1E90FF;
		min-width: 300px;
		min-height: 200px;
		width: 300px;
        padding: 10px;
        margin: 10px;
	}
	.bvie span{
		font-size: 30px;
		font-weight:bolder;
		color:#FFFFFF;
	}
</style>	
<body>
<div class="bvie">
    <center><span>lombok</span></center>
    <br><br>
    <ul>
	<li>1:运行 java -jar D:/lombok.jar 选择 eclipse安装目录 </li>
    <li>2：STS.ini 添加<br> -javaagent:D:\hbbranch\payCenter\sts-bundle\sts-3.9.4.RELEASE\lombok.jar</li>
    </ul>
</div>
	<br>
	<p>Remote System Explorer Operation</p>	
	<p>
	第一步：Eclipse -> Preferences -> General -> Startup and Shutdown.不要勾选 RSE UI.
	第二步：Eclipse -> Preferences -> Remote Systems. 取消勾选 Re-open Remote Systems view to previous state.
	</p>
	
</body>
</html>
