<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mysql</title>
</head>
<body>
<textarea id="m1_date" style="width: 800px;" title="时间"></textarea>

<textarea  style="width: 800px;" title="时间">
select substr('20181231595857',1,8);  
SUBSTR(str,pos,len);
需要注意的是：如果pos为1(而不是0)，表示从第一个位置开始
</textarea>

    
    
</body>
<script>
document.getElementById('m1_date').value="select DATE_FORMAT(DATE_ADD(now(),INTERVAL -1 DAY),'%Y%m%d%H%i%s'),str_to_date('20080809 08:09:30', '%Y%m%d %h:%i:%s')";
</script>
</html>
